/*Nível 1*/
#pond {
    display: flex;
    justify-content: flex-end;
}

/*Nível 2*/
#pond {
    display: flex;
    justify-content: center;
}

/*Nível 3*/
#pond {
    display: flex;
    justify-content: space-around;
}

/*Nível 4*/
#pond {
    display: flex;
    justify-content: space-between;
}

/*Nível 5*/
#pond {
    display: flex;
    align-items: flex-end;
}

/*Nível 6*/
#pond {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Nível 7*/
#pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/*Nível 8*/
#pond {
    display: flex;
    flex-direction: row-reverse;
}
